rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Regra para perfil de usuários
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Regras gerais para dados da aplicação por usuários autenticados
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
